body{
    background-color: #c1e1c1;
    margin: 20px;
    padding: 20px;
    background-size: cover;   
}

/*Navigation bar*/

.navbar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: transparent;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #8db07f;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100px;
}

.navbar li {
  margin: 0;
}

.navbar a {
  color: white;
  font-size: small;
  font-family: "Gabarito", sans-serif;
  text-decoration: none;
  padding: 12px 10px;
  display: block;
  text-align: center;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #5c8bd4;
  border-radius: 5px;
}
/*Website header*/

.heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px; /*Puts eggshells closer to header*/
  margin: 40px auto;
}

.egg-shell.left {
  width: 60px;
  height: auto;
}

.egg-shell.right {
  width: 60px;
  height: auto;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.chicken {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
}
/*Flips the chicken on the left side to turn the opposite way */
.chicken.left {
    transform: scaleX(-1);
}
/*Adds animation when you hover over chicken picture*/
.chicken:hover {
    transform: rotate(10deg) scale(1.1);
}

#title-box{
  background-color: rgb(234, 220, 203);
  border-radius: 20px;
}
#title-box h1{
    color: #bea361;
    font-size: 3em;
    font-family: "Gabarito", sans-serif;
    text-align: center;
    border: 4px solid #bea361;
    border-radius: 20px;
    box-shadow: 0 8px 16px #422e22;
    padding: 20px 40px;
    padding-bottom: 10px;
    margin: 0;
    
}
/*Adds small animation that enlarges header when you hover over it*/
#title-box h1:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
  }
  #site-description{
    font-family: 'Poetsen One', sans-serif;
    color: #674922;
  }
  #fence-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  #fence1, #fence2{
    width: 600px;
    margin: 0;
    padding: 0;
    display: block;
    transition: transform 0.5s ease-out;
  }
  /*Bar-chart*/

  #page-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

 
  .box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  margin-top: 50px;
  
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 200px;
  margin-left: -30px;
  flex-wrap: wrap;
}

.first-box, .second-box {
  flex: 1 1 45%;
  border: 5px solid black;
  padding: 20px;
  background-color: #ffe7b3;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: black;
  min-width: 500px;
  max-width: 600px;
  box-sizing: border-box;
}

.first-box, .second-box h2 {
  padding-left: 20px;
}
/*Egg Bubble chart*/

#bubble-chart-page{
  margin-top: 150px;
}

.egg-chart-header{
  padding: 20px;
  margin-left: 100px;
  color:  #674922;
  font-family: "Gabarito", sans-serif;
}

.egg-dropdown {
  background-color: rgb(255, 249, 160);
  border: 3px solid #ffffff;
  border-radius: 50% 50% 40% 40% / 65% 65% 35% 35%;
  width: 80px;
  height: 95px;
  padding: 15px;
  text-align: center;
  box-shadow: 2x 4px 8px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  margin: 0 auto 30px auto;
}

.egg-dropdown label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: 'Poetsen One', sans-serif;
  color: #674922;
}

.egg-dropdown select {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #999;
  font-size: 14px;
}

#eggconsumption {
  width: 100%;
  overflow: visible;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 30px; /* spacing between the three elements */
  margin-top: 20px;
}

#chart-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
#egg-bubble-chart {
  display: block;
  width: 500px;
  height: 400px;
  overflow: visible;
  flex-shrink: 0;
  position: relative; /* sits above the basket */
  z-index: 2;
}
 
#chicken-container {
  position: relative;
  width: fit-content; /*the container is as wide as the content inside*/
  cursor: pointer; /*changes the curser to a pointer so the user knows that this is clickable*/
  display: inline-block;
  margin-top: 40px;
}

#chicken-img {
  width: 150px;
  transition: transform 0.3s ease; /*when the image transforms on the hoover we want the change to look smooth*/
}

#chicken-img:hover {
  transform: scale(1.1); /*When we hoover the mouse over the image the chicken is scaled a little bigger*/
}

#speech-bubble-img {
  position: relative; /*ensures that the text inside can be absolutely positioned*/
  width: 150px; 
}

#speech-bubble-img img {
  width: 100%; /*the picture needs to fill the container that we defined*/
  display: block; /*the default for images is inline, where it behaves like text. But we want to display it as block so it doesnt have a little space in the bottom. it makes it easier to position it*/
}

#speech-text {
  position: absolute;  /*We want a fixed position of the text inside the speech-bubble*/
  top: 35%;            
  left: 10%;           
  width: 80%;  /* ensures text wraps inside bubble and doesnt overlap the sides*/
  text-align: center;
  font-size: 14px;
  font-family: 'Poetsen One', sans-serif;
  font-style: italic;
  color: #333;
}

#info-box {
  background: rgb(253, 247, 155);
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  max-width: 200px;
  font-size: 0.9em;
  margin-left: 120px;
  font-family: 'Poetsen One', sans-serif;
}

.facts {
  padding: 10px;
}

#eggbasket{
  width: 500px;
  height: 240px;
  position: absolute;
  bottom: -75px; /*how much it sits under the bubble-chart*/
  z-index: 1; /*puts it behind the chart*/
  background-image: url('egg-basket.png');
  background-repeat: no-repeat;
  background-position: center;
 
}

#tooltip {
    position: absolute;
    display: none;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
     z-index: 1000;
}

/*World/EU-map*/

.third-box {
  flex: 1;
  border: 5px solid black;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 250px;
}

.sphere {
  fill: #aec6cf;
}

.country {
  fill: #cec498;
  stroke: #333;
}

h3 {
  text-align: center;
  margin-top: 20px;
}
