body{
    background-color: #80e861f6;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    color: #333;
    background: linear-gradient(45deg, #ae61e8f6 20%,#80e861f6 80%);
    background-size: cover;
    background-repeat: no-repeat;

    
}

.heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin: 40px auto;
}

.egg-shell.left {
  width: 60px;
  height: auto;
}

.egg-shell.right {
  width: 60px;
  height: auto;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.chicken {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
}

.chicken.left {
    transform: scaleX(-1); /* Flip horizontally to face left */
}

.chicken:hover {
    transform: rotate(10deg) scale(1.1);
}

h1{
    color: #000000;
    font-size: 3em;
    text-align: center;
    border-bottom: 4px solid #000000;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
    border-top: 4px solid #000000;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    padding-bottom: 10px;
    margin: 0;
    
}

h1:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

p{
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: pink;
    height: 50px;
    padding: 0 20px;
  }
  
  .logo, .menu {
    padding: 15px;
  }
  
  .box-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 40px 0;
}

.first-box, .second-box {
  flex: 1;
  border: 5px solid black;
  padding: 20px;
  background-color: #ffe7b3;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
  min-height: 150px;
}

.first-box p, .second-box p {
  text-align: center;
  padding-top: 50px;
}

.third-box {
  flex: 1;
  border: 5px solid black;
  padding: 20px;
  background-color: #2bff23;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
footer {
  background: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.sphere {
  fill: rgb(29, 68, 81);
}

.country {
  fill: #ccc;
  stroke: #333;
}

h3 {
  text-align: center;
  margin-top: 20px;
}
