body{
    background-color: #80e861f6;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    color: #333;
    
    background-image: url('farm-billede.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;




    

}
h1{
    color: #000000;
    font-size: 2.5em;
    text-align: center;
    border-bottom: 4px solid #000000;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
    border-top: 4px solid #000000;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    
}
p{
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: pink;
    height: 50px;
    padding: 0 20px;
  }
  
  .logo, .menu {
    padding: 15px;
  }
  
  .box-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 40px 0;
}

.first-box, .second-box {
  flex: 1;
  border: 5px solid black;
  padding: 50px;
  background-color: #333;
  color: white;
  min-height: 150px;
}

.first-box p, .second-box p {
  text-align: center;
  padding-top: 50px;
}

#egg-chart-header{
  padding: 20px;
}

#eggconsumption {
  width: 100%;
  overflow: visible;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 30px; /* spacing between the three elements */
  margin-top: 20px;
}

#chart-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
#egg-bubble-chart {
  display: block;
  width: 500px;
  height: 400px;
  overflow: visible;
  flex-shrink: 0;
  position: relative; /* sits above the basket */
  z-index: 2;
}

#dropdown-container {
  min-width: 120px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
#dropdown-container label {
  margin-bottom: 5px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #000000;
  background-color: #c2e3cc;
}

#dropdown-container select {
  padding: 8px;
  border: 2px solid #333;
  border-radius: 6px;
  background-color: #c2e3cc;
  font-size: 16px;
  cursor: pointer;
 
}



#info-box {
  background: white;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 10px;
  max-width: 200px;
  font-size: 0.9em;
  margin-left: 150px;
}

#eggbasket{
  width: 500px;
  height: 240px;
  position: absolute;
  bottom: -75px; /*how much it sits under the bubble-chart*/
  z-index: 1; /*puts it behind the chart*/
  background-image: url('egg-basket.png');
  background-repeat: no-repeat;
  background-position: center;
 
}

#tooltip {
    position: absolute;
    display: none;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
     z-index: 1000;
}

footer {
  background: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}